<div layout="row" flex id="content">
    <md-content layout="column" flex="50"   class="md-padding">
      
          




      <md-card>

        <md-toolbar class="myHeaderLight"  >
                <h1 class="md-toolbar-tools  headerDark">Teams</h1>
        </md-toolbar>
        <md-card-content style="height:900px;overflow-y:scroll;">
        <md-button ng-click="calculate();" class="md-raised md-primary">Re-Calculate</md-button>
          <md-subheader >We have these teams, click on them to see their games</md-subheader>
          <md-list-item ng-click="setPlayerID(team._id)"  ng-repeat="team in s.teams| filter:{ leagueID: s.currentLeague } | orderBy:s.getWins" >
            <span>
              <h2>{{team.name|titlecase}}</h2>

                <p>
                  Rating: {{team.rating|int}}, SoS: {{team.sOfs|int}}<br>  
                  Games Won: {{team.gamesWon}}, Games Lost: {{team.gamesLost}}
                </p>
              
            </span>
            
          </<md-list-item>
        </md-card-content>
      </md-card>


    </md-content>

    <md-content layout="column" flex="50" class="md-padding" >
      
      <md-card>

        <md-toolbar class="myHeaderLight"  >
                <h1 class="md-toolbar-tools  headerDark">Games</h1>
        </md-toolbar>
        <md-card-content style="height:900px;overflow-y:scroll;">
        
          <md-subheader >The colored number shows how each game helped or hurt this team's rating.</md-subheader>
          <md-list-item   ng-repeat="game in s.getGames(s.currentPlayerID)"  >
            <span>
              <p ng-show="game.cPlayer==0"><b>{{s.getPlayerName(game.player1)+' ('+game.scores[game.scores.length-1][0]+')'|titlecase}}</b> - 
                    {{s.getPlayerName(game.player2)+' ('+game.scores[game.scores.length-1][1]+')'|titlecase}}</p> 

              <p ng-show="game.cPlayer==1">{{s.getPlayerName(game.player1)+' ('+game.scores[game.scores.length-1][0]+')'|titlecase}} - 
                  <b>{{s.getPlayerName(game.player2)+' ('+game.scores[game.scores.length-1][1]+')'|titlecase}}</b></p> 

              <p>
                  Date: {{game.datePlayed|dt}}<br>
                  Rating Change: <span ng-class="{'green':game.ratingChange[game.cPlayer]>0,'red':game.ratingChange[game.cPlayer]<0}">{{game.ratingChange[game.cPlayer]|int}}</span>
              </p>
            </span>
          </md-list-item>
        </md-card-content>
      </md-card>

        
    </md-content>
</div>






    