<div layout="row" flex id="content">

    <md-content layout="column" flex="70" class="md-padding myContainer" >
      
      <md-card>
        <md-toolbar class="myHeaderLight"  >
                <h1 class="md-toolbar-tools  headerDark">Teams</h1>
        </md-toolbar>
        <md-card-content style="height:300px;overflow-y:scroll;">
          <md-subheader >We have these Teams</md-subheader>
          <md-list-item ng-repeat="team in s.teams | orderBy:'name' | filter:{ leagueID: s.currentLeague } ">
            <md-checkbox ng-change="teamChecked(team._id)" ng-model="team.checked"></md-checkbox>
            <p>{{team.name}}</p>
            <md-icon class="md-secondary icon-edit" aria-label="edit" ng-click="doSecondaryAction($event)"></md-icon>
          </md-list-item>
        </md-card-content>
      </md-card>


      <md-card>
        <md-toolbar class="myHeaderLight"  >
                <h1 class="md-toolbar-tools  headerDark">Raw Data</h1>
        </md-toolbar>
        <md-card-content >
            <md-subheader >Fill in stuff below</md-subheader>
          <md-input-container style="display:inline-block;">
                  <label>Date</label>
                  <input ng-model="m.dateStr">
          </md-input-container>
          <md-input-container style="display:inline-block;">
            <md-select ng-model="m.leagueID" placeholder="Select a League">
              <md-option ng-value="opt[0]" ng-repeat="opt in m.leagues">{{ opt[1] }}</md-option>
            </md-select>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Raw Data</label>
            <textarea ng-model="m.rawData" md-maxlength="3000" rows="10" md-select-on-focus></textarea>
          </md-input-container>

            <md-button ng-click="convertGames()" class="md-raised md-primary">Convert to Games</md-button>
            

            <md-subheader >Here are the games we found, there were {{m.rawGames.length}} of them.</md-subheader>
            
            <md-list-item ng-repeat="game in m.rawGames  ">
            <p>{{s.getPlayerName(game.player1)}} vs. {{s.getPlayerName(game.player2)}}, Score: {{game.scores[0]}}</p>
          </md-list-item>

          <md-button ng-click="loadGames()" class="md-raised md-primary">Load Games To Cloud</md-button>

        </md-card-content>
      </md-card>


      


        
    </md-content>








    <md-content layout="column" flex="30" class="md-padding myContainer" >
      
      <md-card>
        <md-toolbar class="myHeader"  >
                <h1 class="md-toolbar-tools">NOTES</h1>
        </md-toolbar>
        <md-card-content>
          <p class="notes">
            On this page we will be able to easily add games.<br><br>
            

            </p>
          
        </md-card-content>
      </md-card>

        
    </md-content>
</div>